/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .squared {
        @apply flex aspect-square h-10 w-10 flex-row items-center justify-center p-2;
    }

    .squared-full {
        @apply rounded-md hover:bg-pangol-500 hover:text-zinc-200 hover:shadow-sm;
    }

    .btn {
        @apply flex w-full items-center justify-center rounded-md border border-zinc-500 py-3 px-6 text-center hover:border-pangol-500 hover:bg-pangol-500 hover:text-white hover:no-underline hover:shadow-sm sm:w-auto;
    }

    .link {
        @apply inline-flex flex-row items-center hover:underline;
    }
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/comfortaa-v37-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''), url('../fonts/comfortaa-v37-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/comfortaa-v37-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/comfortaa-v37-latin-300.woff') format('woff'),
        /* Modern Browsers */ url('../fonts/comfortaa-v37-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('../fonts/comfortaa-v37-latin-300.svg#Comfortaa')
            format('svg'); /* Legacy iOS */
}
/* comfortaa-700 - latin */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/comfortaa-v37-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''), url('../fonts/comfortaa-v37-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/comfortaa-v37-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/comfortaa-v37-latin-700.woff') format('woff'),
        /* Modern Browsers */ url('../fonts/comfortaa-v37-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('../fonts/comfortaa-v37-latin-700.svg#Comfortaa')
            format('svg'); /* Legacy iOS */
}

/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v27-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''), url('../fonts/open-sans-v27-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/open-sans-v27-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/open-sans-v27-latin-300.woff') format('woff'),
        /* Modern Browsers */ url('../fonts/open-sans-v27-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('../fonts/open-sans-v27-latin-300.svg#OpenSans')
            format('svg'); /* Legacy iOS */
}
